* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
}

html {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	/*background-color: #EEE;*/
	background: url('../Logo-ARC6.jpg') bottom left no-repeat #000;
	width: 100%;
	height: 100%;
}

#info {
	color: white;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	background: rgba(0, 25, 50, 0.9);
	font-size: 30pt;
	font-weight: 100;
	font-family: sans-serif;
	border-bottom: 2px solid rgb(145, 248, 255);
}

#info #result {
	width: 200px;
	margin: auto;
}

#info span, #info ul {
	display: inline-block;
}

#info span, #info ul, #info li {
	line-height: 20pt;
}

#info li {
	display: none;
	list-style-type: none;
}

#info li.key-up {
	display: inline-block;
	margin: 0 10px;
}

/* DEBUG */
#info #result, #info #keys {
	display: none;
}

.disconnect {
	line-height: 50px;
	width: 50px;

	color: rgb(200, 0, 100);
	font-size: 30pt;

	border-radius: 5px;
	border: 2px solid rgb(200, 0, 100);
	background: rgb(50, 0, 25);
}

.connect {
	line-height: 50px;
	width: 50px;

	color: rgb(145, 248, 255);
	font-size: 30pt;

	border-radius: 5px;
	border: 2px solid rgb(145, 248, 255);
	background: rgb(0, 25, 50);
}

.pending {
	line-height: 50px;
	width: 50px;

	color: rgb(145, 248, 255);
	font-size: 30pt;

	border-radius: 5px;
	border: 2px solid rgb(145, 248, 255);
	background: rgb(0, 25, 50);

	opacity: 0.2;
}

#address {
	/*line-height: 50px;*/
	height: 50px;
	width: 50px;
	vertical-align: top;
	padding: 0 10px;

	color: rgb(145, 248, 255);
	font-size: 10pt;

	text-align: right;

	border-radius: 5px;
	border: 2px solid rgb(145, 248, 255);
	background: rgb(0, 25, 50);
}

#controls {
	float: right;
}

#color, #ultrasonic, #compass {
	display: inline-block;
	/*border: 1px solid rgba(0,0,0,0.4);*/
}

#map {
	position: absolute;
	border: 2px solid rgb(145, 248, 255);
	top: 75px;
	right: 5px;
	border-radius: 5px;
}

#container {
	width	: 100%;
	height	: 100%;
	-webkit-user-select	: none;
	-moz-user-select	: none;
}

canvas {
	opacity: 0.9;
}