* {
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
}

html {
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body {
	background-color: #EEE;
	width: 100%;
	height: 100%;
}

#info {
	color: white;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 5px;
	background: rgba(0,0,0,0.4);
	font-size: 30pt;
	font-weight: 100;
	font-family: sans-serif;
}

#info #result {
	width: 200px;
	margin: auto;
}

#info span, #info ul {
	display: inline-block;
}

#info span, #info ul, #info li {
	line-height: 20pt;
}

#info li {
	display: none;
	list-style-type: none;
}

#info li.key-up {
	display: inline-block;
	margin: 0 10px;
}

/* DEBUG */
#info #result, #info #keys {
	display: none;
}

#controls {
	float: right;
}

#color, #ultrasonic, #compass {
	width: 50px;
	height: 50px;
	display: inline-block;
	/*border: 1px solid rgba(0,0,0,0.4);*/
}

#map {
	position: absolute;
	border: 1px solid rgba(0, 0, 0, 0.4);
	top: 75px;
	right: 5px;
	border-radius: 5px;
}

#container {
	width	: 100%;
	height	: 100%;
	-webkit-user-select	: none;
	-moz-user-select	: none;
}

canvas {
	/*opacity: 0.4;*/
}